body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-color: grey;
  border-radius: 25px;
}

#css{
	height: 100%;
}

#map-canvas {
  margin:auto;
  width: 85%;
  height: 300px;
  margin-bottom: 15px;
  border:x;
  text-align: center;

}